/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}

/*Home main section discover*/

body {
  background-color: #1d1a1a;
}

.border-color {
  position: relative;
  border-radius: 10px;
  margin: 55px;
  padding: 55px 60px;
  background-color: #1d1a1a;
}

.glow::before,
.glow::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    45deg,
    #e6fb04,
    #ff6600,
    #00ff66,
    #00ffff,
    #ff00ff,
    #ff0099,
    #6e0dd0,
    #ff3300,
    #099fff
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: animate 20s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.glow::after {
  filter: blur(10px);
}

.last-news {
  display: flex;
  justify-content: flex-start;
  background-image: url(../asset/img/lol-news.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  width: 100%;
  height: 367px;
  margin-bottom: 55px;
}

.discover {
  display: flex;
  justify-content: center;
}

.discover-button {
  display: flex;
  align-self: flex-end;
  text-align: center;
  margin: 0 0 45px 45px;
  width: 289px;
  height: 53px;
  border-radius: 30px;
  background-color: #d8d0d9;
  color: #0a0a0a;
  font-size: 20px;
}

.news-title {
  color: #d8d0d9;
  font-size: 20px;
}

/*Home main section news*/

.news {
  display: flex;
  flex-direction: column;
}

.news-contain {
  border-radius: 30px;
}

.select-contain {
  display: flex;
  justify-content: flex-end;
}

.select {
  text-align: center;
  width: 289px;
  height: 53px;
  border-radius: 30px;
  background-color: #d8d0d9;
  font-size: 20px;
  padding-left: 20px;
}

.section-countain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 25px;
  padding-top: 45px;
  border-top: 1px solid gray;
}

.lol-img,
.wow-img,
.dofus-img {
  border-radius: 30px;
}

.title-news-img {
  color: #d8d0d9;
  font-size: 20px;
  margin-top: 20px;
}

/* Partie nav bar */

/* Nav bar horizontal */

/* .nav-horizontal {
    min-width: 100vw;
    max-height: 8vh;
    background-color: #2E2727;
    display: flex;
    align-items: center;
} */

.ul-horizontal {
  display: grid;
  grid-template-columns: 10vw 10vw 70vw 10vw;
  grid-template-rows: 8vh;
  background-color: #2e2727;
}

.ul-horizontal li {
  list-style-type: none;
  justify-self: center;
  align-self: center;
}

.ul-horizontal li img {
  /* width: 100%;
    height: 100%; */
}

.div-search img {
  max-width: 25px;
}

.logo-controller {
  display: flex;
  justify-content: center;
  /* min-width: 100%; */
  height: 8vh;
}

.logo-controller.controller {
  background-color: #1d1a1a;
}

.logo-controller img {
  max-width: auto;
  max-height: 8vh;
}

.logo-title {
  color: #d8d0d9;
  font-size: 1.5em;
}

.div-search {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.div-search img {
  position: absolute;
  top: 7px;
  right: 5px;
  max-width: 15px;
  max-height: 15px;
}

.div-search input {
  width: 30vw;
  height: 3vh;
  background-color: transparent;
  border: 1px solid #d8d0d9;
}
