.logo-mic {
    display: flex;
    width: 443px;
    height: 248px;
    border-radius: 30px;
    background-color: grey;
    margin-bottom: 15px;
  }
  
  .channel-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .channel-name {
    font-size: 20px;
    color: #d8d0d9;
    text-align: center;
    margin-bottom: 50px;
  }

  .change-channel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 443px;
    height: 248px;
  }

  .change-channel input {
    width: 200px;
    padding: 10px;
    margin: 10px;
    color: #d8d0d9;
    background-color: #6b5e5e;
    border-radius: 30px;
  }