.section-stream {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.div-stream {
  width: 800px;
  height: 500px;
  background-color: grey;
  margin: 55px 0;
  border-radius: 30px;
}

.div-chat {
  width: 400px;
  height: 500px;
  background-color: grey;
  margin: 55px 0;
  border-radius: 30px;
}

.div-chat p {
  margin: 20px;
  color: #d8d0d9;
  font-size: 1.1em;
}

.bold {
  font-weight: bold;
}

.card {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 720px;
  min-height: 500px;
  background-color: #2e2727;
  padding: 60px;
  border-radius: 30px;
  border: solid 1px #7a0767;
}
.card form {
  max-width: 350px;
  border-radius: 5px;
  border: solid 1px #7a0767;
  padding: 20px;
  margin: 10px;
  border-radius: 30px;
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
  background-color: #3d3636;
}

.name-field {
  margin-bottom: 40px;
}

.card button {
  width: 100%;
  padding: 10px 14px;
  color: #d8d0d9;
  background-color: #6b5e5e;
  border-radius: 30px;
  margin: 32px 0 0 0;
}

.render-chat {
  max-width: 350px;
  max-height: 500px;
  border-radius: 5px;
  overflow-y: scroll;
  padding: 20px;
  margin: 10px;
  border-radius: 30px;
  border: solid 1px #7a0767;
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
  background-color: #3d3636;
}

.render-chat h1 {
  color: #d8d0d9;
}

.card form h1,
.card form button {
  color: #d8d0d9;
}

.card form h1 {
  margin-bottom: 40px;
}

.card h3 {
  color: #7a0767;
}

.card span {
  color: #d8d0d9;
}

.MuiInput-input {
  background-color: #d8d0d9;
}

.MuiInputBase-input {
  height: 35px;
}

.input-chat {
  background-color: #6b5e5e;
  border-radius: 20px;

  border: none;
}

.MuiFormControl-root label {
  margin-left: 10px;
}